* {
    box-sizing: border-box;
}
html {
    background: url('/assets/QuestTitilepage1.jpg') no-repeat center center fixed;
    background-size: contain;
    height: 100%;
    overflow: hidden;
  }
    

img {
    height: 80px;
    width: 100px;
    text-align: right;
    
}

#selection {
    width: 150px;
    height: 150px;
    text-align: start;
    display: flex;
    justify-content: center;
    

}
h2 {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    letter-spacing: 0.8px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    margin-top: 12%;
   
}
.moving {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
}
form {
    
    width: 600px;
    justify-content: center;
    text-align: center;
    border: solid red 5px;
    font-size: 20px;
    color: #FFF;
background-color: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
}
#header {
    margin-left: 36%;
    margin-top: 5%;
    /* margin-bottom: ; */
    display: flex;
    justify-content: center; 
    width: 500px;
    height: 100px
}