/* .bg {
    
    width: 100%;
    height: 100%;
    border: 3px solid black;
    margin-bottom: 1em;
    background-repeat: no-repeat;
    min-width: 1024px; */
    /* The image used */
    /* background-image: url('../assets/hyrulemap.jpg'); */
    
    /* Full height */
    /* height: 80%;  */
    /* min-height: 100%;
    min-width: 1024px;
    */
    /* Set up proportionate scaling */
    /* width: 100%;
    height: auto;
    */
    /* Set up positioning */
    /* position: fixed;
    top: 0;
    left: 0;
    */
    /* Center and scale the image nicely */
    
;
main {
    position: relative;
}
#quest-one {
    font-size: 15px;
    position: absolute;
    top:500px;    
    right:70px;    
    color: red;
    text-shadow: 3px 3px 3px black;
}

#quest-two {
    font-size: 25px;
    position: absolute;
    top:84%;    
    right: 67%;    
    color: red;
    text-shadow: 3px 3px 3px black;
}

#quest-three {
    font-size: 25px;
    position: absolute;
    top: 19%;    
    right: 42%;    
    color: red;
    text-shadow: 3px 3px 3px black;
}


.quest.completed {
    color: whitesmoke;
    font-size: .9em;
}

.quest.completed:after {
    content: ' ✔';
}
html {
    background: url('../assets/hyrulemap.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

h2 {
    left: 50;
}